[Unit]
Description=victorsalaun app

[Service]
ExecStart=/usr/bin/node /opt/app/server.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target